doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="img/logo.png", type="image/png")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet")
        title Taller 1 Maquetacion Web PUG
    body body 
        header header 
            nav Nav
        section section 1 
            nav nav
            aside aside
           
        section section 2 
            header(class="header2") header
            article article 1
                header(class="header2") header 
                div(class="div1") div 
                aside(Class="ansidesec2") aside 
                p p 
            article article 2
                header(class="header2") header 
                div(class="div2") div 
                p p 
            footer footer 
        footer footer
             

