// /* font-family: 'Play', sans-serif; */
// /* 700 */
// /* 400 */

// /*.4em 5px*/
// /*.7em 10px*/
// /*1.2em 20px*/
// /*.9em 15px*/


// $relleno_header: red;
// $relleno_nav:blue;
// $relleno_nav_li: rgb(218, 218, 218);
// $relleno_section:orange;
// $relleno_aside:violet;
// $relleno_article:Brown;
// $relleno_div:tan;
// $relleno_p:teal;
// $relleno_footer:lavender;

$relleno_header: transparent;
$relleno_nav:transparent;
$relleno_nav_li: rgb(218, 218, 218);
$relleno_section:transparent;
$relleno_aside:transparent;
$relleno_article:transparent;
$relleno_div:transparent;
$relleno_p:transparent;
$relleno_footer:transparent;
    


$relleno_body: rgb(253, 253, 253);